<p style="color: green"><%= notice %></p>

<%#= render @author %>

<h1><%= @author.name %></h1>

<p><strong>Biography:</strong> <%= @author.biography %></p>

<h2>Books:</h2>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>
  <% end %>
</ul>


<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <%= button_to "Destroy this author", @author, method: :delete %>
</div>
