<div id="<%= dom_id paper_cost %>">
  <p>
    <strong>Rims w w:</strong>
    <%= paper_cost.rims_w_w %>
  </p>

  <p>
    <strong>Waste print plate:</strong>
    <%= paper_cost.waste_print_plate %>
  </p>

  <p>
    <strong>Rims for waste:</strong>
    <%= paper_cost.rims_for_waste %>
  </p>

  <p>
    <strong>Rims required:</strong>
    <%= paper_cost.rims_required %>
  </p>

  <p>
    <strong>Additional rims for rounding:</strong>
    <%= paper_cost.additional_rims_for_rounding %>
  </p>

  <p>
    <strong>Total rims print size:</strong>
    <%= paper_cost.total_rims_print_size %>
  </p>

  <p>
    <strong>Divide for purchase size:</strong>
    <%= paper_cost.divide_for_purchase_size %>
  </p>

  <p>
    <strong>Total rims for purchase:</strong>
    <%= paper_cost.total_rims_for_purchase %>
  </p>

  <p>
    <strong>Paper size length:</strong>
    <%= paper_cost.paper_size_length %>
  </p>

  <p>
    <strong>Paper size width:</strong>
    <%= paper_cost.paper_size_width %>
  </p>

  <p>
    <strong>Paper multiply lxw:</strong>
    <%= paper_cost.paper_multiply_LxW %>
  </p>

  <p>
    <strong>Paper weight per kg:</strong>
    <%= paper_cost.paper_weight_per_kg %>
  </p>

  <p>
    <strong>Formula:</strong>
    <%= paper_cost.formula %>
  </p>

  <p>
    <strong>Paper rate per kg:</strong>
    <%= paper_cost.paper_rate_per_kg %>
  </p>

  <p>
    <strong>Rate per rims:</strong>
    <%= paper_cost.rate_per_rims %>
  </p>

  <p>
    <strong>Paper for text cost:</strong>
    <%= paper_cost.paper_for_text_cost %>
  </p>

</div>
